body {
    width: 80%; min-width: 600px; max-width: 1200px;
    margin: 50px auto;
    background-image: linear-gradient(to bottom right, hsl(191, 67%, 83%), hsl(187, 92%, 76%), hsl(179, 67%, 58%));
}

#nav {
    background-color: whitesmoke;
    float: left;
    width: 200px;
    line-height: 100px;
    height: 600px;
    border-right: 5px solid black;
}

#nav li {
    list-style: none;
}

#header, #footer {
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 64px;
    color: whitesmoke;
    text-shadow: 4px 4px 8px black;
    background-image: linear-gradient(to right, rgb(0,0,0), rgb(0, 136, 255), rgb(22, 188, 22), rgb(125, 113, 36), rgb(252, 92, 0));
    overflow: hidden;
}

#content {
    background-color: whitesmoke;
    height: 600px;
    overflow: auto;
}

.info {
    text-align: center;
    border-bottom: 5px solid black;
}

#intro {
    line-height: 40px;
    text-align: left;
    text-indent: 50px;
    padding: 10px 20px;
    font-size: 24px;
}

#intro a {
    line-height: 40px;
    font-size: 24px;
}

#intro a:hover {
    font-size: 26px;
}

#thanks {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 40px;
}

.vikings, .vikings2, .dragons, .dragons2 {
    border-bottom: 5px solid black;
    height: 450px;
}

.vikings p, .vikings2 p, .dragons p, .dragons2 p {
    line-height: 40px;
    text-align: center;
}

.vikings img {
    float: left;
    margin-left: 100px;
    height: 300px;
}

.vikings2 img {
    float: right;
    margin-right: 100px;
    height: 300px;
}

.dragons img {
    float: left;
    margin-left: 75px;
    height: 300px;
    max-width: 500px;
}

.dragons2 img {
    float: right;
    margin-right: 75px;
    height: 300px;
    max-width: 500px;
}

.flipped {
    transform: scaleX(-1);
}

a:visited, a:link {
    color: green;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    font-size: 18px;
}

form {
    text-align: center;
    margin: 10px auto;
    font-size: 24px;
}

.checks {
    margin: 5px 0px;
    width: 20%;
    min-height: 10px;
    height: 25px;
}

input, select {
    margin: 5px 0px;
    width: 40%;
    min-height: 2em;
}