* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3 {
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

body {
    width: 80%; min-width: 600px; max-width: 1200px;
    margin: 50px auto;
    background-image: linear-gradient(to bottom right, hsl(191, 67%, 83%), hsl(187, 92%, 76%), hsl(179, 67%, 58%));
}

.nav {
    background-color: whitesmoke;
    float: left;
    width: 200px;
    line-height: 90px;
    height: 600px;
    border-right: 5px solid black;
}

.nav li {
    list-style: none;
}

.header, .footer {
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 64px;
    color: whitesmoke;
    text-shadow: 4px 4px 8px black;
    background-image: linear-gradient(to right, rgb(0,0,0), rgb(0, 136, 255), rgb(22, 188, 22), rgb(125, 113, 36), rgb(252, 92, 0));
    overflow: hidden;
}

.content {
    background-color: whitesmoke;
    height: 600px;
    overflow: auto;
}

.content2 {
    background-color: black;
    height: 600px;
    overflow: auto;
    color: whitesmoke;
}

.info {
    text-align: center;
    border-bottom: 5px solid black;
}

.info2 {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border-bottom: 5px solid black;
}

#intro {
    line-height: 40px;
    text-align: left;
    text-indent: 50px;
    padding: 10px 20px;
    font-size: 24px;
}

#intro a {
    line-height: 40px;
    font-size: 24px;
}

#intro a:hover {
    font-size: 26px;
}

#thanks {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 40px;
}

.vikings, .vikings2, .dragons, .dragons2 {
    border-bottom: 5px solid black;
    height: 450px;
}

.vikings p, .vikings2 p, .dragons p, .dragons2 p {
    line-height: 40px;
    text-align: center;
}

.vikings img {
    float: left;
    margin-left: 100px;
    height: 300px;
}

.vikings2 img {
    float: right;
    margin-right: 100px;
    height: 300px;
}

.dragons img {
    float: left;
    margin-left: 75px;
    height: 300px;
    max-width: 500px;
}

.dragons2 img {
    float: right;
    margin-right: 75px;
    height: 300px;
    max-width: 500px;
}

.flipped {
    transform: scaleX(-1);
}

a:visited, a:link {
    color: green;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    font-size: 18px;
}

form {
    text-align: center;
    margin: 10px auto;
    font-size: 24px;
}

.checks {
    margin: 5px 0px;
    width: 20%;
    min-height: 10px;
    height: 25px;
}

input, select {
    margin: 5px 0px;
    width: 40%;
    min-height: 2em;
}

#music, #music2 {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

#fanimg {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.wide {
    max-width: 100%;
    max-height: 100%;
}

.tall {
    max-width: 49%;
    max-height: 100%;
}

/*
 Code below is for testing cards-! may replace all ".vikings" and ".vikings2" css!!
*/

#cardholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h3 {font-size: 28px;}

.bold {
    font-weight: bold;
    font-size: 24px;
}

.card {
    height: 500px;
    width:400px;
    margin: 10px 0px;
    padding: 0px;
}

.cardhead {
    color: whitesmoke;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin: -20px 0px 0px 0px;
}

.cardcont {
    background-color:whitesmoke;
    height: 400px;
    width: 360px;
    margin: 0px auto;
    padding: 5px 0px;
    font-size: 20px;
}

.cardcont img {
    max-height: 120px;
    max-width: 100px;
    border: 5px solid black;
    float: left;
    margin: 0px 10px 10px;
}

.starstats {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    line-height: 20px;
}

#card1, #card1head {
    background-color: rgb(0,0,0);
}

#card2, #card2head {
    background-color: rgb(0, 136, 255);
}

#card3, #card3head, #card4, #card4head {
    background-color: rgb(22, 188, 22);
}

#card5, #card5head {
    background-color: rgb(125, 113, 36);
}

#card6, #card6head {
    background-color: rgb(252, 92, 0);
}

#card1head {
    text-shadow: 4px 4px 8px grey;
}

#card2head {
    text-shadow: 4px 4px 8px rgb(0, 99, 185);
}

#card3head {
    text-shadow: 4px 4px 8px rgb(16, 143, 16);
}

#card4head {
    text-shadow: 4px 4px 8px rgb(16, 143, 16);
}

#card5head {
    text-shadow: 4px 4px 8px rgb(100, 91, 28);
}

#card6head {
    text-shadow: 4px 4px 8px rgb(194, 71, 0);
}